<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.css">
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.0/dist/semantic.min.js"></script>


<div style="display: flex; justify-content: space-between">
    <div>
        <h2>Network {{ .network.Name }}</h2>
    </div>
    <div>
        <a href="/" class="ui primary button visible">Back</a>
    </div>
</div>
<table class="ui attached table">
    <thead>
    <tr>
        <th>Container name</th>
        <th>Status</th>
        <th>Proxy forwarding</th>
    </tr>
    </thead>
    <tbody>
{{range $project, $containers := .containerProjects }}
    <tr>
        <td style="background-color: beige" colspan="3">
            {{ $project }}
        </td>
    </tr>
    {{ range $i, $container := $containers }}
        <tr>
            <td>
                {{range $container.Names }}{{ . }}{{end}}
            </td>
            <td>{{ $container.Status }}</td>
            <td>
                {{range .selectedTargets }}
                    <a class="tiny ui button
{{ if eq .container.ID $container.ID }} disabled
{{ end }}
"
                       href="/target/ssh?container={{ $container.ID }}&port{{ .port }}">
                        Ssh {{ .port }}
                    </a>
                {{end}}
            </td>
        </tr>
    {{ end }}
{{ end }}

</tbody>
</table>

</body>
</html>